@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* SCROLL STYLE */
body::-webkit-scrollbar {
  width: 12px;               /* largura da scrollbar */
}

body::-webkit-scrollbar-track {
  background: #242424;        /* cor da track area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1B8EA7;    /* cor do scroll */
  border-radius: 20px;       /* borda do scroll */
}

/* SELEÇÃO DAS PALAVRAS */
::selection {
  background-color: #000000;
  color: #1B8EA7;
}