/* Estilos para telas maiores (computadores) */
.backgroundContent {
    height: 100%;
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique acima do pseudo-elemento */
    background-color: rgb(0, 0, 0);
    background: radial-gradient(ellipse at 50% 50%, #4D9AB2 20%, #000000 92.5%);
    background-attachment: fixed;
}

/* Para todas as telas - Fundo fixo simulado */
.backgroundContent::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #4D9AB2 20%, #000000 92.5%);
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
}

/* Estilos para telas menores (dispositivos móveis) */
@media (max-width: 768px) {
    .backgroundContent::before {
        background: linear-gradient(to bottom, #4D9AB2 20%, #000000 90.5%);
    }
}