.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #367e9452;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000; 
    padding: 20px 0;
}

.navList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navItem {
    margin: 0 15px;
}

.navItem a {
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
}

.navItem a:hover {
    border-bottom: 2px solid #fff;
}

@media (max-width: 768px) {
    .nav{
        display: none;
    }
}